node_modules/
pnpm-lock.yaml
npm-debug.log*
yarn.lock
yarn-error.log*
package-lock.json

Build/output
dist/
build/
out/

Vite
.vite/
*.local

Tailwind (v3: JIT cache / v4 plugin cache)
.tailwindcache/
.twm/
.turbo/

Ambiente/variáveis
.env
.env.*.local
.env.local
.env.test.local
.env.production.local

Logs
*.log
logs/
pids/
*.pid
*.seed
*.pid.lock

Editor/OS
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.iml

Testes
coverage/
.nyc_output/

TypeScript
*.tsbuildinfo

Cache de ferramentas
.eslintcache
.stylelintcache
.cache/
.parcel-cache/
.rpt2_cache/
.fusebox/

Storybook (se usar)
storybook-static/
.out/

SASS/LESS temporários
*.sass-cache